.campaign {
  padding: 10px;
}

.campaign_title {
  font-weight: 600;
  font-size: 18px;
}

.campaign_time {
  margin-top: 5px;
}

.campaign_error {
  background-color: red;
  color: yellow;
  font-size: 25px;
  font-weight: 600;
  width: fit-content;
}
